/**
  *	@name LOCAL-BTTR-Transparancy
  *	@author FCheet
  * @source https://github.com/DevEvil99/Ocean-Discord-Theme
  * @version 1.1.5
  */

@import url("https://flamingcheetah1.github.io/BTTRTransparancy/BTTR-Transparancy.theme.css");

:root {
	
	/*Colors*/
  --color-1: #00d5ce;
  --color-2: #45818e;
  --color-3: #137a7f;
  
  
	--channel-name-colors:var(--color-1);
	--channel-color:#373b3e;
	--user-color:;
	--now-playing:#bec8d1;
	--search-bar:var(--winbar);
	--member-list:#e12885;
	--new-message-bar:;
	--server-list:white;
	--friendlist-center-bg:var(--color-2);
	--friends-color:var(--color-3);
	
	
	--icon-color:var(--color-1);
	--chat-icons:var(--color-3);
	--selected-channel:white;
	--pinged-color:white;	
	--mentioned-color:var(--color-1);
	
	
	--winbar:grey;
	--windows-buttons:white;

	
	/*Transparancy*/
	--channel-trans:60%;
	--User-trans:80%;
	--nowPlaying:80%; /*Rightside Friendslist*/
	--search-trans:90%;
	--member-trans:80%;
	--server-list-trans:10%;
	--mention-trans:80%;
	--friendlist-trans:50%;
	
  --discord-wildow-color: #990099 ;
  --ocean-bg: /*url(https://i.imgur.com/weOUkrT.png)*/;
}


/* CHAT */
.contents_c19a55 .messageContent_c19a55, .container_b7e1cb {
/*Delete these to remove small chat stuff*/
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
/*till here*/

  background-color: var(--color-1);
  color: black;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
   box-shadow: 0 4px 8px 0 var(--color-2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Chat names + timestamp background*/
.header_c19a55{
	border-radius:15px;
	padding:4px;
  background-color: color-mix(in srgb, var(--color-3) 80%, transparent);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}




/*IMPORTANT*/
/*Search bar*/
#app-mount .container__9293f.themed__9293f{
	background-color:color-mix(in srgb,var(--search-bar) var(--search-trans), transparent);
	box-shadow:0 2px 8px black inset ;
}
/*SETTINGS SIDEBAR*/
#app-mount .sidebarRegion__23e6b{
	background-color:var(--channel-color);
}
/*Server bar*/
#app-mount .sidebar_c48ade{
	background-color:color-mix(in srgb, var(--channel-color) var(--channel-trans), transparent);
	box-shadow: 6px 0 5px black;
}
/*User Panel*/
#app-mount .panels_c48ade{
	background-color:color-mix(in srgb,var(--user-color) var(--User-trans), transparent);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Server Member list*/
#app-mount .membersWrap_c8ffbb{
	background-color:color-mix(in srgb,var(--member-list) var(--member-trans), transparent);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#app-mount .nowPlayingColumn__133bf {
	background-color: color-mix(in srgb,var(--now-playing) var(--nowPlaying), transparent);
	box-shadow: -8px 0 10px;
}
